---
Checks: >
  *,
  -fuchsia-*,
  -google-*,
  -llvm-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -hicpp-no-array-decay,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -modernize-avoid-c-arrays,
  -cppcoreguidelines-avoid-c-arrays,
  -cppcoreguidelines-pro-type-vararg,
  -hicpp-vararg,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-type-const-cast,
  -readability-qualified-auto,
  -readability-uppercase-literal-suffix,
  -readability-implicit-bool-conversion,
  -readability-else-after-return,
  -readability-isolate-declaration,
  -readability-convert-member-functions-to-static,
  -readability-make-member-function-const,
  -readability-redundant-member-init,
  -readability-redundant-string-init,
  -readability-static-accessed-through-instance,
  -readability-suspicious-call-argument,
  -bugprone-easily-swappable-parameters,
  -misc-const-correctness,
  -misc-include-cleaner,
  -misc-use-anonymous-namespace,
  -modernize-use-nodiscard,
  -performance-inefficient-string-concatenation,
  -performance-noexcept-move-constructor,
  -performance-noexcept-swap,
  -performance-trivially-destructible,
  -performance-unnecessary-copy-initialization,
  -performance-unnecessary-value-param,
  -clang-analyzer-*,
  -altera-*,
  -abseil-*,
  -boost-*,
  -darwin-*,
  -linuxkernel-*,
  -mpi-*,
  -objc-*,
  -openmp-*,
  -zircon-*

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file

