[Desktop Entry]
Name=Example Application
Comment=Simple parser of logs.
Keywords=cpp;cmake;example;
Exec=LogViewer
Icon=LogViewer.png
Terminal=true
Type=Application
Categories=Utility;Photography;GNOME;GTK;
